.claude/

# Python-related
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/
 
# Django-related
*.sqlite3
media/
staticfiles/
sent_emails/

# Logs
*.log

.vscode/

build/
dist/
*.egg-info/

.env
certs/

# Test coverage
.coverage
coverage.xml
htmlcov/

# MkDocs build output
/site/
